* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.container {
    width: 70%;
    margin: 30px auto;
}

.tabs-container {
    display: flex;
    justify-content: flex-end;
}

.tabs-container .tab-pane {
    max-width: min-content;
    display: flex;
    position: relative;
}

.tabs-container .tab-pane .arrow {
    font-size: 1.5rem;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    cursor: pointer;
}

    .tabs-container .tab-pane .arrow.arrow-left {
        left: -30px;
    }

    .tabs-container .tab-pane .arrow.arrow-right {
        right: -30px;
    }

.tabs-container .tab-pane .nav-container {
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    width: 2000px;
}

.another-container {
    width: 600px;
    overflow: hidden;
}

.tabs-container .tab-pane .nav-container .tabs {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    flex-wrap: wrap;
    transition: right .5s ease;
}

.tabs-container .tab-pane .nav-container .tabs .tab-wrapper {
    padding: 0 4px;
    box-sizing: border-box;

}

.tabs-container .tab-pane .nav-container .tabs .tab {
    width: 214px;
    box-sizing: border-box;
    padding: 16px 24px;
    background-color: lightblue;
    cursor: pointer;
    border: 1px solid blue;
}

.tabs-container .tab-pane .nav-container .tabs .tab:hover {
    background-color: cornflowerblue;
}

.tab-contents .tab-content {
    display: none;
}

.tab-contents .tab-content.active {
    display: block;
}